<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/style.css">
    <script> var exports = {}</script>
    <script type="module" src="/public/script.js"></script>

</head>
<body>

<div class="header">
    <a class="header-select">
        <p class="header-select-make-note">Make note</p>
    </a>
    <a class="header-select">
        <p class="header-select-show-notes">Show notes</p>
    </a>





</div>
<div class="make-note-tab">
    <div class="make-note-tab-title"><p>Make note</p>
        <span class="material-symbols-outlined make-note-tab-title-exit">close</span>
    </div>

        <p>Title</p>
        <input type="text" class="make-note-tab-input" >
        <p style="margin: 0">Description</p>
        <textarea class="make-note-tab-description"></textarea>
        <div class="make-note-tab-types">
            <div class="make-note-tab-types-type">
                <p>All</p>
            </div>
        </div>


        <div class="make-note-tab-button"><p>Save</p></div>
    </div>

</body>
</head>
</html>